    html {
    	background-color: #00539F;
    }
    body {
    	padding: 15px;
    	border: 10px solid black;
    	background-color: yellow;
    }
    table,th,tr {
      background-color: green;
    }
    th,tr {
      border: 1px solid black; align-items: center; padding: 10;
    }
     #h01 {
      background: blockquote;
      background-color: brown;
      font-size: 25px;
      padding: 10px;
      text-shadow: 4px 2px 5px purple;
      text-align: center;

    }
    p {
    	color: red
    }
    img {
    	display: block;
    	margin: 0 auto;
    }
